include *.txt
include *.md
include *.pkl
recursive-include ./sentiment_model *

recursive-include sentiment_model/trained_models *
recursive-include sentiment_model/trained_tokenizer *
include sentiment_model/VERSION
include sentiment_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]