<!DOCTYPE html>
<html lang="en">
<head>
    <title>Predict</title>
</head>
<body>
    <div>
        <h1 style="background-color:LightGray;">
            <center>Sentiment Classification</center>
        </h1>
    </div>
    <div>
        <fieldset>
            <h2> 
                <center>Predicted label: 
                    <span style="font-weight:bold;color:blue"> {{result}}</span>
                </center>
            </h2>
            <h3><center>Input review text: </Input></center></h3> 
            <p>
              <center>
                <span> {{input_text}}</span>
              </center>
            </p>
            <form action="/" method="get">
                <center><button type="submit">Home</button></center>
            </form>
        </fieldset>
    </div>
</body>
</html>